body{
    padding: 10px;
    padding-left: 20px;
    background-color: aquamarine;
}

.top-left{
    position: relative;
    top: 10px;
    right: 20px;
}

.sun{
    color: orangered;
}

.snowflake{
    color: blue;
}

.bottom-right{
    position: relative;
    bottom: 10px;
    left: 200px;
}

.LoaderExampleText{
    margin: 300px;
}
